{% comment %} <p> HTML , CSS , Javascript , PHP, Python, C</p>
<p> Adobe XD, Inkscape, Git, linux </p> {% endcomment %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark navbar-custom">
</nav>
<div class="nanobar" id="sk_1" style="position: fixed;">
    <div class="bar"></div>
</div>
<div id="sk_2" class="my-class">Test2</div>
<div id="sk_3" class="my-class"></div>
<div id="sk_4" class="my-class"></div>
<div id="sk_5" class="my-class"></div>
<div id="sk_6" class="my-class"></div>

     <script>
        console.log('test1');
            var options = {
                classname: "nanobar",
                id: "sk_1"
            };
            var nanobar = new Nanobar( options );
            nanobar.go(5);
            nanobar.go(10);
            nanobar.go(20);
            nanobar.go(30);
            nanobar.go(76);
            nanobar.go(80);
            nanobar.go(90);
            nanobar.go(95);
            nanobar.go(100);
        console.log('test2');
     </script>
